<form method="post" action="/socio/edit/{{ perfil.pk }}" class="form-horizontal" id="form"
      style='visibility:visible;'>
    {% csrf_token %}
    {% include 'colunm_button.html' only %}
    {#    <div class="col-md-12 tabs-area">#}
    <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">
        <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo7-area1"
             aria-labelledby="tabs-demo7-area1">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Ficha de Sócio</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.member_number.id_for_label }}">{{ form.member_number.label }}</label>
                                                    {% if form.member_number.errors %}
                                                        <div style="color:red">
                                                            <strong>{{ form.member_number.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                    {{ form.member_number }}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                                    {% if form.name.errors %}
                                                        <div style="color:red">
                                                            <strong>{{ form.name.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                    {{ form.name }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label }}</label>
                                                    {{ form.document_type.errors }}
                                                    {{ form.document_type }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.doc_number.id_for_label }}">{{ form.doc_number.label }}</label>
                                                    {{ form.doc_number.errors }}
                                                    {{ form.doc_number }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.doc_emmission.id_for_label }}">{{ form.doc_emmission.label }}</label>
                                                    {{ form.doc_emmission.errors }}
                                                    {{ form.doc_emmission }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.doc_date_emission.id_for_label }}">{{ form.doc_date_emission.label }}</label>
                                                    {{ form.doc_date_emission.errors }}
                                                    {{ form.doc_date_emission }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.doc_date_validity.id_for_label }}">{{ form.doc_date_validity.label }}</label>
                                                    {{ form.doc_date_validity.errors }}
                                                    {{ form.doc_date_validity }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.admission_date.id_for_label }}">{{ form.admission_date.label }}</label>
                                                    {{ form.admission_date.errors }}
                                                    {{ form.admission_date }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.situation.id_for_label }}">{{ form.situation.label }}</label>
                                                    {{ form.situation.errors }}
                                                    {{ form.situation }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.last_quota.id_for_label }}">{{ form.last_quota.label }}</label>
                                                    {{ form.last_quota.errors }}
                                                    {{ form.last_quota }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-4">
                    <span style="font-size: -webkit-xxx-large">
                                                                <i class="glyphicon glyphicon-camera"
                                                                   style="width:100%; font-size:-webkit-xxx-large"></i>
                                                            </span>
                                                <span style="font-size: -webkit-xxx-large">
                                                                <i class="glyphicon glyphicon-folder-open"
                                                                   style="/*width:100%;*/ font-size:-webkit-xxx-large"></i>
                                                            </span>
                                            </div>
                                            <div class="col-md-8">
                                                <img src="https://placehold.it/100x100?text=IMAGE"
                                                     class="img-responsive" style="width:100%"
                                                     alt="Image">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                                                    {{ form.category.errors }}
                                                    {{ form.category }}
                                                </div>
                                            </div>
                                            {#                                                        </div>#}
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area2"
             aria-labelledby="tabs-demo7-area2">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Dados Pessoais</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
                                                    {{ form.sex.errors }}
                                                    {{ form.sex }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.birthdate.id_for_label }}">{{ form.birthdate.label }}</label>
                                                    {% if form.birthdate.errors %}
                                                        <div style="color:red">
                                                            <strong>{{ form.birthdate.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                    {{ form.birthdate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.nationality.id_for_label }}">{{ form.nationality.label }}</label>
                                                    {{ form.nationality.errors }}
                                                    {{ form.nationality }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-row label-block input-text">
                                                    <label for="{{ form.naturalness.id_for_label }}">{{ form.naturalness.label }}</label>
                                                    {{ form.naturalness.errors }}
                                                    {{ form.naturalness }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.marital_status.id_for_label }}">{{ form.marital_status.label }}</label>
                                            {{ form.marital_status.errors }}
                                            {{ form.marital_status }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.qualifications.id_for_label }}">{{ form.qualifications.label }}</label>
                                            {{ form.qualifications.errors }}
                                            {{ form.qualifications }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>
                                            {{ form.profession.errors }}
                                            {{ form.profession }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.professional_situation.id_for_label }}">{{ form.professional_situation.label }}</label>
                                            {{ form.professional_situation.errors }}
                                            {{ form.professional_situation }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.mother.id_for_label }}">{{ form.mother.label }}</label>
                                            {{ form.mother.errors }}
                                            {{ form.mother }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.father.id_for_label }}">{{ form.father.label }}</label>
                                            {{ form.father.errors }}
                                            {{ form.father }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        {#                                    <div class="container">#}
                    </div>
                </div>
            </div>
        </div>
        {#                            </div>#}
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area3"
             aria-labelledby="tabs-demo7-area3">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Morada</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.residence_address.id_for_label }}">{{ form.residence_address.label }}</label>
                                            {{ form.residence_address.errors }}
                                            {{ form.residence_address }}
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                                            {{ form.city.errors }}
                                            {{ form.city }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                                            {{ form.country.errors }}
                                            {{ form.country }}
                                        </div>
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.telephone_1.id_for_label }}">{{ form.telephone_1.label }}</label>
                                            {% if form.telephone_1.errors %}
                                                <div style="color:red">
                                                    <strong>{{ form.telephone_1.errors }}</strong>
                                                </div>
                                            {% endif %}
                                            {{ form.telephone_1 }}
                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.postcode.id_for_label }}">{{ form.postcode.label }}</label>
                                            {{ form.postcode.errors }}
                                            {{ form.postcode }}
                                        </div>

                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.telephone_2.id_for_label }}">{{ form.telephone_2.label }}</label>
                                            {{ form.telephone_2.errors }}
                                            {{ form.telephone_2 }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                            {% if form.email.errors %}
                                                <div style="color:red">
                                                    <strong>{{ form.email.errors }}</strong>
                                                </div>
                                            {% endif %}
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area4"
             aria-labelledby="tabs-demo7-area4">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Dados Financeitos</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.NIF.id_for_label }}">{{ form.NIF.label }}</label>
                                            {{ form.NIF.errors }}
                                            {{ form.NIF }}
                                        </div>
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.banco.id_for_label }}">{{ form.banco.label }}</label>
                                            {{ form.banco.errors }}
                                            {{ form.banco }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.tipo_cobranca.id_for_label }}">{{ form.tipo_cobranca.label }}</label>
                                            {{ form.tipo_cobranca.errors }}
                                            {{ form.tipo_cobranca }}
                                        </div>
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.pais_banco.id_for_label }}">{{ form.pais_banco.label }}</label>
                                            {{ form.pais_banco.errors }}
                                            {{ form.pais_banco }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.cobrador.id_for_label }}">{{ form.cobrador.label }}</label>
                                            {{ form.cobrador.errors }}
                                            {{ form.cobrador }}
                                        </div>
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.NIB_IBAN.id_for_label }}">{{ form.NIB_IBAN.label }}</label>
                                            {{ form.NIB_IBAN.errors }}
                                            {{ form.NIB_IBAN }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.prioridade.id_for_label }}">{{ form.prioridade.label }}</label>
                                            {% if form.prioridade.errors %}
                                                <div style="color:red">
                                                    <strong>{{ form.prioridade.errors }}</strong>
                                                </div>
                                            {% endif %}
                                            {{ form.prioridade }}
                                        </div>
                                        <div class="form-row label-block input-text">
                                            <label for="{{ form.SWIFT.id_for_label }}">{{ form.SWIFT.label }}</label>
                                            {% if form.SWIFT.errors %}
                                                <div style="color:red">
                                                    <strong>{{ form.SWIFT.errors }}</strong>
                                                </div>
                                            {% endif %}
                                            {{ form.SWIFT }}
                                        </div>
                                    </div>

                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area5"
             aria-labelledby="tabs-demo7-area5">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Conta-Corrente</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area6"
             aria-labelledby="tabs-demo7-area6">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Subscrições</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area7"
             aria-labelledby="tabs-demo7-area7">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Informação de Cartão</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area8"
             aria-labelledby="tabs-demo7-area8">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Família</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area9"
             aria-labelledby="tabs-demo7-area9">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Notas</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabs-demo7-area10"
             aria-labelledby="tabs-demo7-area10">
            <div class="container">
                <div class="col-md-10">
                    <div class="panel form-element-padding">
                        <div class="panel-heading">
                            <h4>Documentos</h4>
                        </div>
                        <div class="panel-body" style="padding-bottom:30px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    </div>#}
</form>


<div class="container text-center">
    <ul class="pagination">
        <li role="presentation" class="active">
            <a href="#tabs-demo7-area1" id="tabs-demo6-1" role="tab" data-toggle="tab"
               aria-expanded="false">1</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area2" id="tabs-demo6-2" role="tab" data-toggle="tab"
               aria-expanded="false">2</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area3" id="tabs-demo6-3" role="tab" data-toggle="tab"
               aria-expanded="false">3</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area4" id="tabs-demo6-4" role="tab" data-toggle="tab"
               aria-expanded="true">4</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area5" role="tab" id="tabs-demo6-5" data-toggle="tab"
               aria-expanded="true">5</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area6" role="tab" id="tabs-demo6-6" data-toggle="tab"
               aria-expanded="true">6</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area7" role="tab" id="tabs-demo6-7" data-toggle="tab"
               aria-expanded="true">7</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area8" role="tab" id="tabs-demo6-8" data-toggle="tab"
               aria-expanded="true">8</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area9" role="tab" id="tabs-demo6-9" data-toggle="tab"
               aria-expanded="true">9</a>
        </li>
        <li role="presentation" class="">
            <a href="#tabs-demo7-area10" role="tab" id="tabs-demo6-10" data-toggle="tab"
               aria-expanded="true">10</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#save').click(function () {
            var nameButton = $(this).attr("name");
            save_ajax(nameButton);
        });

        $('#saveAndNew').click(function () {
            var nameButton = $(this).attr("name");
            location.reload();
            save_ajax(nameButton);
        });

        $('#b_cancelar').click(function () {
            location.reload();
            {#            var nameButton = $(this).attr("name");#}
            {#            save_ajax(nameButton);#}
        });

        function save_ajax(nameButton) {
            var csrftoken = getCookie('csrftoken');
            var form = $("#form");
            url = form.attr('action');
            var data_form = form.serialize() + '&' + nameButton + "=" + 1 + ",";
            $.ajax({
                type: "POST",
                url: url,
                data: data_form,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $(".form_id").html(data);
                }
            });
        }
    });

</script>
