<form method="post" action="/socio/edit/{{ perfil.pk }}" class="form-horizontal" id="form2"
      style='visibility:visible;'>
    {% csrf_token %}
        <div class="col-md-12">
            <div class="panel form-element-padding">
                <div class="panel-heading">
                    <h4>Editar dados: {{ perfil.name}}</h4>
                </div>
                <div class="panel-body" style="padding-bottom:30px;">
                    <div class="form-group">
                        <div class="col-sm-5">
                            {% if isDefault != 1 %}
                                {% if saveNew == 1 %}
                                    <input type="button" id="saveAndNew" class="btn btn-primary" name="SaveAndNew"
                                           value="Guardar & Novo" style="float:left;margin-right:7px;"/>
                                {% endif %}
                                {% if bEdit %}
                                    <input type="button" id="bEdit" class="btn btn-primary" name="Save" value="Editar"
                                           style="float:left;"/>
                                {% else %}
                                    <input type="button" id="save" class="btn btn-primary" name="Save" value="Guardar"
                                           style="float:left;"/>
                                {% endif %}

                                <div class="cancel"><span class="text_small"></span>
                                    <input type="button" id="b_cancelar" class="btn btn-default" name="Cancelar"
                                           value="Cancelar"/>
                                </div>
                            {% else %}
                                <div class="cancel">
                                    <input type="button" id="b_cancelar" class="btn_cancelar" name="Cancelar"
                                           value="Voltar"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <div class="col-md-12">
                    <div class="col-md-12 tabs-area form-horizontal">

{#                    <div class="form-group">#}
{#                        <label for="{{ form.member_number.id_for_label }}" class="control-label text-left">#}
{#                            {{ form.member_number.label }}#}
{#                        </label>#}
{#                      <div>#}
{#                          <input type="number" class="form-control">#}
{#                          {{ form.member_number }}#}
{#                      </div>#}
{#                    </div>#}


{#                    <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label }}</label>#}
{#                    {{ form.document_type.errors }}#}
{#                    <select class="form-controlt">#}
{#                        {{ form.document_type }}#}
{#             </select>#}

                <div class="form-row label-block input-text">
                    <label for="{{ form.member_number.id_for_label }}">{{ form.member_number.label }}</label>
                    {% if form.member_number.errors %}
                        <div style="color:red">
                            <strong>{{ form.member_number.errors }}</strong>
                        </div>
                    {% endif %}
                    {{ form.member_number }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    {% if form.name.errors %}
                        <div style="color:red">
                            <strong>{{ form.name.errors }}</strong>
                        </div>
                    {% endif %}
                    {{ form.name }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.admission_date.id_for_label }}">{{ form.admission_date.label }}</label>
                    {{ form.admission_date.errors }}
                    {{ form.admission_date }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label }}</label>
                    {{ form.document_type.errors }}
                    {{ form.document_type }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.doc_number.id_for_label }}">{{ form.doc_number.label }}</label>
                    {{ form.doc_number.errors }}
                    {{ form.doc_number }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.doc_emmission.id_for_label }}">{{ form.doc_emmission.label }}</label>
                    {{ form.doc_emmission.errors }}
                    {{ form.doc_emmission }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.situation.id_for_label }}">{{ form.situation.label }}</label>
                    {{ form.situation.errors }}
                    {{ form.situation }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.last_quota.id_for_label }}">{{ form.last_quota.label }}</label>
                    {% if form.last_quota.errors %}
                        <div style="color:red">
                            <strong>{{ form.last_quota.errors }}</strong>
                        </div>
                    {% endif %}
                    {{ form.last_quota }}
                </div>
                <div class="form-row label-block input-text">
                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                    {% if form.category.errors %}
                        <div style="color:red">
                            <strong>{{ form.category.errors }}</strong>
                        </div>
                    {% endif %}
                    {{ form.category }}
                </div>
                    </div>
                    <div class="form-row label-block input-text">
                    <label for="{{ form.profile.id_for_label }}">{{ form.profile.label }}</label>
                    {% if form.profile.errors %}
                        <div style="color:red">
                            <strong>{{ form.profile.errors }}</strong>
                        </div>
                    {% endif %}
                    {{ form.profile }}
                </div>
                    </div>
                <div class="col-md-12">
                    <div class="col-md-12 tabs-area">
                     <ul id="tabs-demo4" class="nav nav-tabs nav-tabs-v3" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#tabs-demo4-area1" id="tabs-demo4-1" role="tab" data-toggle="tab" aria-expanded="true">Dados Pessoais</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#tabs-demo4-area2" role="tab" id="tabs-demo4-2" data-toggle="tab" aria-expanded="false">Morada</a>
                      </li>
                      <li role="presentation">
                        <a href="#tabs-demo4-area3" id="tabs-demo4-3" role="tab" data-toggle="tab" aria-expanded="false">Dados Financeiros</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#tabs-demo4-area4" role="tab" id="tabs-demo4-4" data-toggle="tab" aria-expanded="false">Conta-Corrente</a>
                      </li>
                         <li role="presentation" class="">
                            <a href="#tabs-demo4-area5" role="tab" id="tabs-demo4-5" data-toggle="tab" aria-expanded="false">Subscrições</a>
                        </li>
                         <li role="presentation" class="">
                            <a href="#tabs-demo4-area6" role="tab" id="tabs-demo4-6" data-toggle="tab" aria-expanded="false">Inf. de Cartão</a>
                        </li>
                         <li role="presentation" class="">
                            <a href="#tabs-demo4-area7" role="tab" id="tabs-demo4-7" data-toggle="tab" aria-expanded="false">Família</a>
                        </li>
{#                         <li role="presentation" class="">#}
{#                            <a href="#tabs-demo4-area8" role="tab" id="tabs-demo4-8" data-toggle="tab" aria-expanded="false">Notas</a>#}
{#                        </li>#}
                         <li role="presentation" class="">
                            <a href="#tabs-demo4-area9" role="tab" id="tabs-demo4-9" data-toggle="tab" aria-expanded="false">Documentos</a>
                        </li>
                    </ul>
                    <div id="tabsDemo4Content" class="tab-content tab-content-v3">
                      <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1">
                      <br/>
                          <div class="form-row label-block input-text">
                              <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
                              {{ form.sex.errors }}
                              {{ form.sex }}
                          </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.birthdate.id_for_label }}">{{ form.birthdate.label }}</label>
                                {% if form.birthdate.errors %}
                                    <div style="color:red">
                                        <strong>{{ form.birthdate.errors }}</strong>
                                    </div>
                                {% endif %}
                                {{ form.birthdate }}
                            </div>
                              <div class="form-row label-block input-text">
                                <label for="{{ form.nationality.id_for_label }}">{{ form.nationality.label }}</label>
                                {{ form.nationality.errors }}
                                {{ form.nationality }}
                            </div>
                              <div class="form-row label-block input-text">
                                <label for="{{ form.naturalness.id_for_label }}">{{ form.naturalness.label }}</label>
                                {{ form.naturalness.errors }}
                                {{ form.naturalness }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.marital_status.id_for_label }}">{{ form.marital_status.label }}</label>
                                {{ form.marital_status.errors }}
                                {{ form.marital_status }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.qualifications.id_for_label }}">{{ form.qualifications.label }}</label>
                                {{ form.qualifications.errors }}
                                {{ form.qualifications }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>
                                {{ form.profession.errors }}
                                {{ form.profession }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.professional_situation.id_for_label }}">{{ form.professional_situation.label }}</label>
                                {{ form.professional_situation.errors }}
                                {{ form.professional_situation }}
                            </div>

                            <div class="form-row label-block input-text">
                                <label for="{{ form.father.id_for_label }}">{{ form.father.label }}</label>
                                {{ form.father.errors }}
                                {{ form.father }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.mother.id_for_label }}">{{ form.mother.label }}</label>
                                {{ form.mother.errors }}
                                {{ form.mother }}
                            </div>

                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area2" aria-labelledby="tabs-demo4-area2">
                        <br/>
                          <div class="form-row label-block input-text">
                                <label for="{{ form.residence_address.id_for_label }}">{{ form.residence_address.label }}</label>
                                {{ form.residence_address.errors }}
                                {{ form.residence_address }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                                {{ form.city.errors }}
                                {{ form.city }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.postcode.id_for_label }}">{{ form.postcode.label }}</label>
                                {{ form.postcode.errors }}
                                {{ form.postcode }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                                {{ form.country.errors }}
                                {{ form.country }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.telephone_1.id_for_label }}">{{ form.telephone_1.label }}</label>
                                {% if form.telephone_1.errors %}
                                    <div style="color:red">
                                        <strong>{{ form.telephone_1.errors }}</strong>
                                    </div>
                                {% endif %}
                                {{ form.telephone_1 }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.telephone_2.id_for_label }}">{{ form.telephone_2.label }}</label>
                                {{ form.telephone_2.errors }}
                                {{ form.telephone_2 }}
                            </div>
                            <div class="form-row label-block input-text">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {% if form.email.errors %}
                                    <div style="color:red">
                                        <strong>{{ form.email.errors }}</strong>
                                    </div>
                                {% endif %}
                                {{ form.email }}
                            </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area3" aria-labelledby="tabs-demo4-area3">
                        <p></p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area4" aria-labelledby="tabs-demo4-area4">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area4" aria-labelledby="tabs-demo4-area4">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area5" aria-labelledby="tabs-demo4-area5">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area6" aria-labelledby="tabs-demo4-area6">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area7" aria-labelledby="tabs-demo4-area7">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area8" aria-labelledby="tabs-demo4-area8">
                        <p></p>
                      </div>
                        <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area9" aria-labelledby="tabs-demo4-area9">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
{#                    {% for field in form %}#}
{#                        {% if field.field.required %}#}
{#                            <div class="form-group">#}
{#                                <tr>#}
{#                                    <td class="title">#}
{#                                        <label class="control-label col-xs-2"#}
{#                                               for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <div class="col-sm-10">#}
{#                                            {% if field.errors %}#}
{#                                                <span class="help-block {% if form.errors %} has-error errorField{% endif %}">#}
{#                                            {% endif %}#}
{#                                            {{ field }}#}
{#                                            {% if field.errors %}#}
{#                                                {% for error in field.errors %}#}
{#                                                    {{ error }}#}
{#                                                {% endfor %}#}
{#                                                </span>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="form-group">#}
{#                                <tr>#}
{#                                    <td class="title">#}
{#                                        <label class="control-label col-xs-2"#}
{#                                               for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <div class="col-sm-10">#}
{#                                            {{ field }}#}
{#                                            {% for error in field.errors %}#}
{#                                                {{ error }}#}
{#                                            {% endfor %}#}
{#                                            </span>#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {% for field in form %}#}
{#                        {% if field.field.required %}#}
{#                            <div class="form-group">#}
{#                                <tr>#}
{#                                    <td class="title">#}
{#                                        <label class="control-label col-xs-2"#}
{#                                               for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <div class="col-sm-10">#}
{#                                            {% if field.errors %}#}
{#                                                <span class="help-block {% if form.errors %} has-error errorField{% endif %}">#}
{#                                            {% endif %}#}
{#                                            {{ field }}#}
{#                                            {% if field.errors %}#}
{#                                                {% for error in field.errors %}#}
{#                                                    {{ error }}#}
{#                                                {% endfor %}#}
{#                                                </span>#}
{#                                            {% endif %}#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="form-group">#}
{#                                <tr>#}
{#                                    <td class="title">#}
{#                                        <label class="control-label col-xs-2"#}
{#                                               for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                    </td>#}
{#                                    <td>#}
{#                                        <div class="col-sm-10">#}
{#                                            {{ field }}#}
{#                                            {% for error in field.errors %}#}
{#                                                {{ error }}#}
{#                                            {% endfor %}#}
{#                                            </span>#}
{#                                        </div>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </div>
    </div>
            </div>
        </div>

</form>

{#    <form method="post" action="/socio/edit/{{ perfil.pk }}" class="form-horizontal" id="form2"#}
{#          style='visibility:visible;'>#}
{#        {% csrf_token %}#}
{#        <div class="col-md-8">#}
{#            <div class="panel form-element-padding">#}
{#                <div class="panel-heading">#}
{#                    <h4>Editar dados: {{ user.first_name }} {{ user.last_name }}</h4>#}
{#                </div>#}
{#                <div class="panel-body" style="padding-bottom:30px;">#}
{#                    <div class="form-group">#}
{#                        <div class="col-sm-5">#}
{#                            {% if isDefault != 1 %}#}
{#                                {% if saveNew == 1 %}#}
{#                                    <input type="button" id="saveAndNew" class="btn btn-primary" name="SaveAndNew"#}
{#                                           value="Guardar & Novo" style="float:left;margin-right:7px;"/>#}
{#                                {% endif %}#}
{#                                {% if bEdit %}#}
{#                                    <input type="button" id="bEdit" class="btn btn-primary" name="Save" value="Editar"#}
{#                                           style="float:left;"/>#}
{#                                {% else %}#}
{#                                    <input type="button" id="save" class="btn btn-primary" name="Save" value="Guardar"#}
{#                                           style="float:left;"/>#}
{#                                {% endif %}#}
{##}
{#                                <div class="cancel"><span class="text_small"></span>#}
{#                                    <input type="button" id="b_cancelar" class="btn btn-default" name="Cancelar"#}
{#                                           value="Cancelar"/>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <div class="cancel">#}
{#                                    <input type="button" id="b_cancelar" class="btn_cancelar" name="Cancelar"#}
{#                                           value="Voltar"/>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-12">#}
{#                    {% for field in form2 %}#}
{#                            {% if field.field.required %}#}
{#                                <div class="form-group">#}
{#                                    <tr>#}
{#                                        <td class="title">#}
{#                                            <label class="control-label col-xs-2"#}
{#                                                   for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            <div class="col-sm-10">#}
{#                                                {% if field.errors %}#}
{#                                                    <span class="help-block {% if form.errors %} has-error errorField{% endif %}">#}
{#                                                {% endif %}#}
{#                                                {{ field }}#}
{#                                                {% if field.errors %}#}
{#                                                    {% for error in field.errors %}#}
{#                                                        {{ error }}#}
{#                                                    {% endfor %}#}
{#                                                    </span>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <div class="form-group">#}
{#                                    <tr>#}
{#                                        <td class="title">#}
{#                                            <label class="control-label col-xs-2"#}
{#                                                   for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            <div class="col-sm-10">#}
{#                                            {{ field }}#}
{#                                                {% for error in field.errors %}#}
{#                                                    {{ error }}#}
{#                                                {% endfor %}#}
{#                                            </span>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                        {% for field in form %}#}
{#                            {% if field.field.required %}#}
{#                                <div class="form-group">#}
{#                                    <tr>#}
{#                                        <td class="title">#}
{#                                            <label class="control-label col-xs-2"#}
{#                                                   for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            <div class="col-sm-10">#}
{#                                                {% if field.errors %}#}
{#                                                    <span class="help-block {% if form.errors %} has-error errorField{% endif %}">#}
{#                                                {% endif %}#}
{#                                                {{ field }}#}
{#                                                {% if field.errors %}#}
{#                                                    {% for error in field.errors %}#}
{#                                                        {{ error }}#}
{#                                                    {% endfor %}#}
{#                                                    </span>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </div>#}
{#                            {% else %}#}
{#                                <div class="form-group">#}
{#                                    <tr>#}
{#                                        <td class="title">#}
{#                                            <label class="control-label col-xs-2"#}
{#                                                   for="id_{{ field.name }}">{{ field.label }}</label>#}
{#                                        </td>#}
{#                                        <td>#}
{#                                            <div class="col-sm-10">#}
{#                                            {{ field }}#}
{#                                                {% for error in field.errors %}#}
{#                                                    {{ error }}#}
{#                                                {% endfor %}#}
{#                                            </span>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}

<script type="text/javascript">
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#save').click(function () {
            var nameButton = $(this).attr("name");
            save_ajax(nameButton);
        });

        $('#saveAndNew').click(function () {
            var nameButton = $(this).attr("name");
            location.reload();
            save_ajax(nameButton);
        });

        $('#b_cancelar').click(function () {
            location.reload();
            {#            var nameButton = $(this).attr("name");#}
            {#            save_ajax(nameButton);#}
        });

        function save_ajax(nameButton) {
            var csrftoken = getCookie('csrftoken');
            var form = $("#form2");
            url = form.attr('action');
            var data_form = form.serialize() + '&' + nameButton + "=" + 1 + ",";
            $.ajax({
                type: "POST",
                url: url,
                data: data_form,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $(".form_id").html(data);
                }
            });
        }
    });

</script>
