{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block nav %}
    <div class="header-frame row">
        {% include 'nav.html' only %}
    </div>
{% endblock nav %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'js/plugins/dataTables/dataTables.bootstrap.css' %}">
    <!-- start: Content -->
    <div id="content">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">Sócio</h3>
                    <p class="animated fadeInDown">
                        <a href="#">Movimento Associativo</a> <span class="fa-angle-right fa"></span>
                        Sócio
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 top-20">
            <div class="col-md-12 ">
                <div class="panel form_id">
                    <div class="panel-heading"><h3>Lista de sócios</h3>
                        {% if data != 0 %}
                            {% if tamLista != 0 %}
                                <div class="dropdown">
                                    <input id="criar_member" class="btn btn-primary" type="button"
                                           value="Inscrição"/>
                                    <a href="#" data-toggle="dropdown" class="btn btn-default ">Mais<b
                                            class="caret"></b></a>
                                    <ul class="dropdown-menu more" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#" data-toggle="modal" data-target="#ativarModal_member"
                                           class="men_apagar">{% trans 'Ativar' %}</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#apagarModal_member"
                                           class="men_apagar">{% trans 'Desativar' %}</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                            {% if tamLista == 0 %}
                                <div class="no_content">
                                    <input id="criar_member" class="btn btn-primary" type="button"
                                           value="Novo"/>
                                    <img src="{% static 'img/empty_arrow_h.png' %}">
                                    <p>Clique para criar um registo.</p>
                                </div>
                            {% else %}
                                </div>
                                <div class="panel-body">
                                    <div class="responsive-table">
                                        <table id="datatables-example" class="table table-striped table-bordered"
                                               width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th width="38px;"><input type="checkbox" class="checkAll"></th>
                                                <th>"Nº do sócio</th>
                                                <th>Nome</th>
                                                <th>Ativo</th>
                                                <th>Categoria</th>
                                                <th>Última quota paga</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for member in list %}
{#                                                {% if member.situation == True %}#}
                                                    <tr>
                                                        <td><input type="checkbox" value="{{ member.pk }}"
                                                                   class="checkable">
                                                        </td>
                                                        <td><a style="color: #337ab7" href="#"
                                                               class="edit_member navbar-link"
                                                               data-toggle="modal"
                                                               name="{{ member.pk }}">{{ member.member_number }}</a>
                                                        </td>
                                                        <td>{{ member.name }}</td>
                                                        <td>{{ member.situation }}</td>
{#                                                        <td>#}
{#                                                            <div style="color: #1B5E20"#}
{#                                                                 class="glyphicon glyphicon-ok">#}
{#                                                            </div>#}
{#                                                        </td>#}
                                                        <td>{{ member.category }}</td>
                                                        <td>{{ member.last_quota }}</td>
                                                    </tr>
{#                                                {% else %}#}
{#                                                    <tr style="color: #c0c0c0">#}
{#                                                        <td><input type="checkbox" value="{{ member.pk }}"#}
{#                                                                   class="checkable">#}
{#                                                        </td>#}
{#                                                        <td><a style="color: #c0c0c0"#}
{#                                                               class="navbar-link"#}
{#                                                               data-toggle="modal"#}
{#                                                               name="{{ member.pk }}">{{ member.member_number }}</a>#}
{#                                                        </td>#}
{#                                                        <td>{{ member.name }}</td>#}
{#                                                        <td>{{ member.situation }}</td>#}
{#                                                        <td>#}
{#                                                            <div style="color: #cc1111"#}
{#                                                                 class="glyphicon glyphicon-remove"></div>#}
{#                                                        </td>#}
{#                                                        <td>{{ member.category }}</td>#}
{#                                                        <td>{{ member.last_quota }}</td>#}
{##}
{#                                                    </tr>#}
{#                                                {% endif %}#}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="no_content">
                                <input id="criar_avaliacao" class="btn btn-primary" type="button"
                                       value="Novo" disabled/>
                                <img src="{% static 'img/empty_arrow_h.png' %}">
                                <p>Habilitado após ser adicionado um Plano de mensalidade.</p>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="apagarModal_member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
    <div class="modal fade" id="ativarModal_member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
    <!-- end: content -->

    <!-- start: Javascript -->
    {#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
    {#    <script src="{% static 'js/jquery.ui.min.js' %}"></script>#}
    {#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}

    <!-- plugins -->
    {#    <script src="{% static 'js/plugins/moment.min.js' %}"></script>#}

    <!-- end: Javascript -->


{% endblock content %}

{% block javascript %}

    <script src="{% static 'js/plugins/jquery.datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/datatables.bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/plugins/jquery.nicescroll.js' %}"></script>#}

    <!-- custom -->
    {#    <script src="{% static 'js/main.js' %}"></script>#}
    <script type="text/javascript">

        $(document).ready(function () {
            console.log("ready member!");
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $('#datatables-example').DataTable({
                "oLanguage": {
                    "sUrl": "/static/dataTables/lang/pt-pt.txt"
                },
                "sScrollY": "710px",
                "bScrollCollapse": true,
                "bStateSave": true,
                "aoColumnDefs": [
                    {
                        'bSortable': true,
                        'aTargets': [0]
                    }
                ]

            });

            $('.checkAll').click(function () {
                console.log("checkAll!");
                $('input:checkbox.checkable').prop('checked', this.checked);
            });

            $("#criar_member").click(function () {
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: "{% url 'memberprofiles:new'%}",
                    {#                                    url: "/socio/form",#}
                    type: 'GET',
                    data: {'value': ""},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        console.log("index member!");
                        {#                      console.log(data);#}
                        $(".form_id").html(data);
                    }
                });
            });

            $(".edit_member").click(function () {
                var csrftoken = getCookie('csrftoken');
                var idUserProfile = $(this).attr("name");

                $.ajax({
                    url: '/socio/edit/' + idUserProfile,
                    type: 'GET',
                    data: {},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $(".form_id").html(data);
                    }
                });

            });

            $("#apagarModal_member").on('show.bs.modal', function (event) {
                console.log("Apagar!");
                var vals = [];
                $('input:checked.checkable').each(function () {
                    var valor = $(this).val();
                    if (valor != undefined) {
                        vals.push(valor);
                    }
                });
                var target = "{%url 'memberprofiles:delete'%}"
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: target,
                    data: {valores: vals},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $('#apagarModal_member').html(data);
                    },
                    error: function (rs, e) {

                    }
                });
            });

            $("#ativarModal_member").on('show.bs.modal', function (event) {
                console.log("Ativar xxx!");
                var vals = [];
                $('input:checked.checkable').each(function () {
                    var valor = $(this).val();
                    if (valor != undefined) {
                        vals.push(valor);
                    }
                });
                var target = "{%url 'memberprofiles:activate'%}"
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    type: "POST",
                    url: target,
                    data: {valores: vals},
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $('#ativarModal_member').html(data);
                    },
                    error: function (rs, e) {

                    }
                });
            });

        });
    </script>
{% endblock javascript %}
