{% extends 'base.html' %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Formulário do Sócio</h1>
        <div class="desktop-6">
{#            {% if messages %}#}
{#                {% for message in messages %}#}
{#                    <div class="alert success">#}
{#                        <p>#}
{#                            {{ message }}#}
{#                        </p>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
            <form action="." method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {#Member#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>#}
{#                    {{ form.name.errors }}#}
{#                    {{ form.name }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>#}
{#                    {{ form.sex.errors }}#}
{#                    {{ form.sex }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.birthdate.id_for_label }}">{{ form.birthdate.label }}</label>#}
{#                    {{ form.birthdate.errors }}#}
{#                    {{ form.birthdate }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.crm_number.id_for_label }}">{{ form.crm_number.label }}</label>#}
{#                    {{ form.crm_number.errors }}#}
{#                    {{ form.crm_number }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.nationality.id_for_label }}">{{ form.nationality.label }}</label>#}
{#                    {{ form.nationality.errors }}#}
{#                    {{ form.nationality }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.qualifications.id_for_label }}">{{ form.qualifications.label }}</label>#}
{#                    {{ form.qualifications.errors }}#}
{#                    {{ form.qualifications }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.member_number.id_for_label }}">{{ form.member_number.label }}</label>#}
{#                    {{ form.member_number.errors }}#}
{#                    {{ form.member_number }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>#}
{#                    {{ form.profession.errors }}#}
{#                    {{ form.profession }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.company.id_for_label }}">{{ form.company.label }}</label>#}
{#                    {{ form.company.errors }}#}
{#                    {{ form.company }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.parent_level.id_for_label }}">{{ form.parent_level.label }}</label>#}
{#                    {{ form.parent_level.errors }}#}
{#                    {{ form.parent_level }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.renumbering_date.id_for_label }}">{{ form.renumbering_date.label }}</label>#}
{#                    {{ form.renumbering_date.errors }}#}
{#                    {{ form.renumbering_date }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.member_number_before_renumbering.id_for_label }}">{{ form.member_number_before_renumbering.label }}</label>#}
{#                    {{ form.member_number_before_renumbering.errors }}#}
{#                    {{ form.member_number_before_renumbering }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.lock_renumbering.id_for_label }}">{{ form.lock_renumbering.label }}</label>#}
{#                    {{ form.lock_renumbering.errors }}#}
{#                    {{ form.lock_renumbering }}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form.member_category.id_for_label }}">{{ form.member_category.label }}</label>#}
{#                    {{ form.member_category.errors }}#}
{#                    {{ form.member_category }}#}
{#                </div>#}
{##}
                {#MemberContact#}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form_contact.member_id.id_for_label }}">{{ form_contact.member_id.label }}</label>#}
{#                    {{ form_contact.member_id.errors }}#}
{#                    {{ form_contact.member_id }}#}
{#                </div>#}
{#            #}
{#                <div class="form-row label-block input-text">#}
{#                    <label for="{{ form_contact.email.id_for_label }}">{{ form_contact.email.label }}</label>#}
{#                    {{ form_contact.email.errors }}#}
{#                    {{ form_contact.email }}#}
{#                </div>#}
                <div class="form-row label-block input-text">
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}
                </div>

                <div class="form-row label-block input-text">
                    {% for field in form_address %}
                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}
                </div>
{#                <div class="form-row label-block input-text">#}
{#                    {% for field in form_occupation %}#}
{#                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>#}
{#                        {{ field.errors }}#}
{#                        {{ field }}#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="form-row label-block input-text">#}
{#                    {% for field in form_situation %}#}
{#                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>#}
{#                        {{ field.errors }}#}
{#                        {{ field }}#}
{#                    {% endfor %}#}
{#                </div>#}
                <div class="form-row label-block input-text">
                    {% for field in form_contact %}
                        <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}
                </div>

                <p class="btn-row"><input type="submit" value="Enviar!"/></p>
            </form>
        <div class="col-md-6">

                    <div class="col-md-12 tabs-area">
                     <ul id="tabs-demo4" class="nav nav-tabs nav-tabs-v3" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#tabs-demo4-area1" id="tabs-demo4-1" role="tab" data-toggle="tab" aria-expanded="true">Menu 1</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#tabs-demo4-area2" role="tab" id="tabs-demo4-2" data-toggle="tab" aria-expanded="false">Menu 2</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#tabs-demo4-area3" id="tabs-demo4-3" role="tab" data-toggle="tab" aria-expanded="false">Menu 3</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#tabs-demo4-area4" role="tab" id="tabs-demo4-4" data-toggle="tab" aria-expanded="false">Menu 4</a>
                      </li>
                    </ul>
                    <div id="tabsDemo4Content" class="tab-content tab-content-v3">
                      <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area2" aria-labelledby="tabs-demo4-area2">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area3" aria-labelledby="tabs-demo4-area3">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area4" aria-labelledby="tabs-demo4-area4">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</section>
{% endblock content %}