{% extends "base.html" %}
{% load static %}


{% block nav %}
    <div class="header-frame row">
        {% include 'nav.html' only %}
    </div>
{% endblock nav %}
{% block content %}
<!-- Header -->
<section id="subscription" style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                   <form method="post" action="/socio/0">
                    {% csrf_token %}
                       <iframe src="https://docs.google.com/forms/d/17KZqNVqaw67HwxceXG0an2oAWS7n1lsjIIU1RkJuijQ/viewform?embedded=true"
                                    width="100%" height="1532" frameborder="0" marginheight="0" marginwidth="0">A carregar...</iframe>
{#                    {{ form.as_p }}#}
                    <div class="text-center">
                        <button type="reset" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-check-circle"></i> Cancelar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock content %}