{% extends 'base.html' %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}
    <!-- OVERVIEW -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h1>500</h1>

                    <h2>Erro interno inesperado</h2>

                    <div class="desktop-6">
                        <p>Desculpe. Ocorreu um erro inesperado.</p>

                        <p>Nossa equipe já foi notificada do problema.<br/>
                            Caso necessário entre em contato com <a
                                    href="mailto:adriano.leal@exclusivkey.pt?subject=500 Erro interno inesperado">adriano.leal@exclusivkey.pt</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
