{#{% extends "base.html" %}#}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="pt">
    <head>

        <meta charset="utf-8">
        <meta name="description" content="Admin V1.0">
        <meta name="author" content="Adriano Regis">
        <meta name="keyword" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Presenças KC</title>

        <!-- start: Css -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- plugins -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/simple-line-icons.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/icheck/skins/flat/aero.css' %}">
{#        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/custom/custom.css' %}">#}
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- end: Css -->

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
      <![endif]-->

    </head>

    <body id="mimin" class="dashboard">

    <div class="container" style="margin-top:150px !important;">
        {% if atleta %}
            <form class="form-signin" method="POST" autocomplete="off"
                  action="{% url 'assiduousness:success' %}">{% csrf_token %}
                <div class="panel periodic-login">
                    <span class="atomic-number"></span>
                    <div class="panel-body text-center">
                        <a href="{% url 'home' %}"><h1 class="atomic-symbol">KC</h1></a>
                        <p class="element-name">Presenças</p>
                        <i class="icons icon-arrow-down"></i>
                        <p class="element-name">{{ atleta.nome }} {{ atleta.sobrenome }}</p>
                        <div class="form-group form-animate-text hidden" style="margin-top:40px !important;">
                            <input name="numeroatleta" value="{{ atleta.pk }}" type="text" class="form-text" required>
                            <span class="bar"></span>
                            <label>Nº do atleta</label>
                        </div>
{#                        <div class="xdisplay_inputx form-group form-animate-text hidden has-feedback"#}
{#                             style="margin-top:40px !important;">#}
{#                            <input name="datapresenca" id="single_cal3" type="text"#}
{#                                   value="{{ data }}" class="form-text has-feedback-left active" required>#}
{#                            <span class="bar"></span>#}
{#                            <label>Data</label>#}
{#                        </div>#}
                        <div class="form-group form-animate-text hidden" style="margin-top:40px !important;">
                            <input name="datapresenca" value="{{ data }}" id="theDate" type="date" class="form-text"
                                   required>
                            <span class="bar"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn col-md-12" value="Confirma"/>
                            <input type="button" id="cancel" class="btn col-md-12" value="Cancelar"/>
                        </div>

                    </div>
                </div>
            </form>
        {% else %}
            <form class="form-signin" method="POST" autocomplete="off"
                  action="{% url 'assiduousness:new' %}">{% csrf_token %}
                <div class="panel periodic-login">
                    <span class="atomic-number"></span>
                    <div class="panel-body text-center">
                        <a href="{% url 'home' %}"><h1 class="atomic-symbol">KC</h1></a>
                        <p class="element-name">Presenças</p>
                        <i class="icons icon-arrow-down"></i>
                        <p class="atomic-mass">{{ message }}</p>
                        <div class="form-group form-animate-text" style="margin-top:40px !important;">
                            <input name="numeroatleta" type="text" class="form-text" required autofocus>
                            <span class="bar"></span>
                            <label>Nº do atleta</label>
                        </div>
{#                        <div class="xdisplay_inputx form-group form-animate-text has-feedback"#}
{#                             style="margin-top:40px !important;">#}
{#                            <input name="datapresenca" id="single_cal3" type="text"#}
{#                                   class="form-text has-feedback-left active" required>#}
{#                            <span class="bar"></span>#}
{#                            <label>Data</label>#}
{#                        </div>#}
                        <div class="form-group form-animate-text" style="margin-top:40px !important;">
                            <input name="datapresenca" id="theDate" type="date" class="form-text" required>
                            <span class="bar"></span>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn col-md-12" value="Confirma"/>
                            {% if message %}
                                <input type="button" id="cancel" class="btn col-md-12" value="Cancelar"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
    </body>
    </html>
{% endblock content %}

<!-- start: Javascript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
{#<script src="{% static 'js/jquery.ui.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{##}
{##}
{#<!-- plugins -->#}
{#<script src="{% static 'js/plugins/moment.min.js' %}"></script>#}
{##}
{#<script src="{% static 'js/plugins/daterangepicker.js' %}"></script>#}
<script type="text/javascript">

    (function (jQuery) {
        $("#cancel").click(function () {
            $(location).attr('href', '/presenca/');
        });

        console.log("ready!");
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;

        document.getElementById('theDate').value = today;
    })(jQuery);
</script>

{#<!-- datepicker -->#}
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        var cb = function (start, end, label) {#}
{#            console.log(start.toISOString(), end.toISOString(), label);#}
{#            $('#reportrange_right span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));#}
{#            //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");#}
{#        }#}
{#        var optionSet1 = {#}
{#            startDate: moment().subtract(29, 'days'),#}
{#            endDate: moment(),#}
{#            minDate: '01/01/2012',#}
{#            maxDate: '12/31/2015',#}
{#            dateLimit: {#}
{#                days: 60#}
{#            },#}
{#            showDropdowns: true,#}
{#            showWeekNumbers: true,#}
{#            timePicker: false,#}
{#            timePickerIncrement: 1,#}
{#            timePicker12Hour: true,#}
{#            ranges: {#}
{#                'Today': [moment(), moment()],#}
{#                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
{#                'Last 7 Days': [moment().subtract(6, 'days'), moment()],#}
{#                'Last 30 Days': [moment().subtract(29, 'days'), moment()],#}
{#                'This Month': [moment().startOf('month'), moment().endOf('month')],#}
{#                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
{#            },#}
{#            opens: 'right',#}
{#            buttonClasses: ['btn btn-default'],#}
{#            applyClass: 'btn-small btn-primary',#}
{#            cancelClass: 'btn-small',#}
{#            format: 'MM/DD/YYYY',#}
{#            separator: ' to ',#}
{#            locale: {#}
{#                applyLabel: 'Submit',#}
{#                cancelLabel: 'Clear',#}
{#                fromLabel: 'From',#}
{#                toLabel: 'To',#}
{#                customRangeLabel: 'Custom',#}
{#                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],#}
{#                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],#}
{#                firstDay: 1#}
{#            }#}
{#        };#}
{#        $('#reportrange_right span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));#}
{#        $('#reportrange_right').daterangepicker(optionSet1, cb);#}
{#        $('#reportrange_right').on('show.daterangepicker', function () {#}
{#            console.log("show event fired");#}
{#        });#}
{#        $('#reportrange_right').on('hide.daterangepicker', function () {#}
{#            console.log("hide event fired");#}
{#        });#}
{#        $('#reportrange_right').on('apply.daterangepicker', function (ev, picker) {#}
{#            console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));#}
{#        });#}
{#        $('#reportrange_right').on('cancel.daterangepicker', function (ev, picker) {#}
{#            console.log("cancel event fired");#}
{#        });#}
{#        $('#options1').click(function () {#}
{#            $('#reportrange_right').data('daterangepicker').setOptions(optionSet1, cb);#}
{#        });#}
{#        $('#options2').click(function () {#}
{#            $('#reportrange_right').data('daterangepicker').setOptions(optionSet2, cb);#}
{#        });#}
{#        $('#destroy').click(function () {#}
{#            $('#reportrange_right').data('daterangepicker').remove();#}
{#        });#}
{#    });#}
{#</script>#}
{#<!-- datepicker -->#}
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        var cb = function (start, end, label) {#}
{#            console.log(start.toISOString(), end.toISOString(), label);#}
{#            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));#}
{#            //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");#}
{#        }#}
{#        var optionSet1 = {#}
{#            startDate: moment().subtract(29, 'days'),#}
{#            endDate: moment(),#}
{#            minDate: '01/01/2012',#}
{#            maxDate: '12/31/2015',#}
{#            dateLimit: {#}
{#                days: 60#}
{#            },#}
{#            showDropdowns: true,#}
{#            showWeekNumbers: true,#}
{#            timePicker: false,#}
{#            timePickerIncrement: 1,#}
{#            timePicker12Hour: true,#}
{#            ranges: {#}
{#                'Today': [moment(), moment()],#}
{#                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
{#                'Last 7 Days': [moment().subtract(6, 'days'), moment()],#}
{#                'Last 30 Days': [moment().subtract(29, 'days'), moment()],#}
{#                'This Month': [moment().startOf('month'), moment().endOf('month')],#}
{#                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
{#            },#}
{#            opens: 'left',#}
{#            buttonClasses: ['btn btn-default'],#}
{#            applyClass: 'btn-small btn-primary',#}
{#            cancelClass: 'btn-small',#}
{#            format: 'MM/DD/YYYY',#}
{#            separator: ' to ',#}
{#            locale: {#}
{#                applyLabel: 'Submit',#}
{#                cancelLabel: 'Clear',#}
{#                fromLabel: 'From',#}
{#                toLabel: 'To',#}
{#                customRangeLabel: 'Custom',#}
{#                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],#}
{#                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],#}
{#                firstDay: 1#}
{#            }#}
{#        };#}
{#        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));#}
{#        $('#reportrange').daterangepicker(optionSet1, cb);#}
{#        $('#reportrange').on('show.daterangepicker', function () {#}
{#            console.log("show event fired");#}
{#        });#}
{#        $('#reportrange').on('hide.daterangepicker', function () {#}
{#            console.log("hide event fired");#}
{#        });#}
{#        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {#}
{#            console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));#}
{#        });#}
{#        $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {#}
{#            console.log("cancel event fired");#}
{#        });#}
{#        $('#options1').click(function () {#}
{#            $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);#}
{#        });#}
{#        $('#options2').click(function () {#}
{#            $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);#}
{#        });#}
{#        $('#destroy').click(function () {#}
{#            $('#reportrange').data('daterangepicker').remove();#}
{#        });#}
{#    });#}
{#</script>#}
{#<!-- /datepicker -->#}
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
        {#            $('#single_cal1').daterangepicker({#}
        {#                singleDatePicker: true,#}
        {#                calender_style: "picker_1"#}
        {#            }, function (start, end, label) {#}
        {#                console.log(start.toISOString(), end.toISOString(), label);#}
        {#            });#}
        {#            $('#single_cal2').daterangepicker({#}
        {#                singleDatePicker: true,#}
        {#                calender_style: "picker_2"#}
        {#            }, function (start, end, label) {#}
        {#                console.log(start.toISOString(), end.toISOString(), label);#}
        {#            });#}
{#        $('#single_cal3').daterangepicker({#}
{#            singleDatePicker: true,#}
{#            calender_style: "picker_3"#}
{#        }, function (start, end, label) {#}
{#            console.log(start.toISOString(), end.toISOString(), label);#}
{#        });#}
{#        $('#single_cal4').daterangepicker({#}
{#            singleDatePicker: true,#}
{#            calender_style: "picker_3"#}
{#        }, function (start, end, label) {#}
{#            console.log(start.toISOString(), end.toISOString(), label);#}
{#        });#}
        {#            $('#single_cal4').daterangepicker({#}
        {#                singleDatePicker: true,#}
        {#                calender_style: "picker_4"#}
        {#            }, function (start, end, label) {#}
        {#                console.log(start.toISOString(), end.toISOString(), label);#}
        {#            });#}
{#    });#}
{#</script>#}
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        $('#reservation').daterangepicker(null, function (start, end, label) {#}
{#            console.log(start.toISOString(), end.toISOString(), label);#}
{#        });#}
{#    });#}
{#</script>#}
{#<!-- /datepicker -->#}
{##}
{#<!-- end: Javascript -->#}