{#{% extends 'material/base_form.html' %}#}
{% load static %}
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
     {% load material_form %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Admin V1.0">
    <meta name="author" content="Adriano Regis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- start: Css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- plugins -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/simple-line-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/fullcalendar.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins/custom/custom.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- end: Css -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% include 'nav_top.html' only %}
{% block nav %}
    {% include 'nav.html' only %}
{% endblock nav %}
<body>
<div>
    {% block content %}
    {% endblock content %}

    {% block perfil %}
    {% endblock perfil %}
</div>
</body>
</html>

<!-- start: Javascript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


<!-- plugins -->
<script src="{% static 'js/plugins/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/plugins/fullcalendar.min.js' %}"></script>


<script src="{% static 'js/plugins/jquery.vmap.min.js' %}"></script>
<script src="{% static 'js/plugins/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'js/plugins/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'js/plugins/chart.min.js' %}"></script>


{#<!-- plugins datatables-->#}
{#<script src="{% static 'js/plugins/jquery.datatables.min.js' %}"></script>#}
{#<script src="{% static 'js/plugins/datatables.bootstrap.min.js' %}"></script>#}


<!-- custom -->
<script src="{% static 'js/main.js' %}"></script>

{% block javascript %}
{% endblock javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        console.log("ready atleta!");
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
