<div class="form-group">
    <div class="col-sm-5">
        {% if isDefault != 1 %}
            {% if saveNew == 1 %}
                <input type="button" id="saveAndNew" class="btn btn-primary"
                       name="SaveAndNew"
                       value="Guardar & Novo" style="float:left;margin-right:7px;"/>
            {% endif %}
            {% if bEdit %}
                <input type="button" id="bEdit" class="btn btn-primary" name="Save"
                       value="Editar"
                       style="float:left;"/>
            {% else %}
                <input type="button" id="save" class="btn btn-primary" name="Save"
                       value="Guardar"
                       style="float:left;"/>
            {% endif %}
            <div class="cancel"><span class="text_small"></span>
                <input type="button" id="b_cancelar" class="btn btn-default"
                       name="Cancelar"
                       value="Cancelar"/>
            </div>
        {% else %}
            <div class="cancel">
                <input type="button" id="b_cancelar" class="btn_cancelar"
                       name="Cancelar"
                       value="Voltar"/>
            </div>
        {% endif %}
    </div>
</div>