{% load static %}
<!-- start:Left Menu -->
<div id="left-menu">
    <div class="sub-left-menu scroll" tabindex="5000" style="overflow: hidden; outline: none;">
        <ul class="nav nav-list">
            <li>
                <div class="left-bg"><img class="logo-img" href="{% static 'img/left-bg.png' %}" height="100px"
                                          width="100px"></div>
            </li>
            {#                <li class="time">#}
            {#                    <h1 class="animated fadeInLeft">21:00</h1>#}
            {#                    <p class="animated fadeInDown">Sat,October 1st 2029</p>#}
            {#                </li>#}
            {% if not user.is_authenticated %}
                <li class="active ripple">
                    <a href="#" class="nav-header"><span class="fa-cogs fa"></span>
                        Login sistema
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                </li>
            {% else %}
                <li class="active ripple">
                    <a href="#" class="nav-header"><span
                            class="fa-dashboard fa"></span>
                        Dashboard
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                </li>
            {% endif %}
            {#                {% if user.is_authenticated %}#}
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-users fa"></span>Mudar Utilizador
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                {#                        <ul class="nav nav-list tree">#}
                {##}
                {#                            <li><a href="#">#</a></li>#}
                {#                            <li><a href="#">#</a></li>#}
                {#                            <li><a href="#">#</a></li>#}
                {#                            <li><a href="#">#</a></li>#}
                {#                            <li><a href="#">#</a></li>#}
                {##}
                {#                                                    <li><a href="#">Anamnese desportiva</a></li>#}
                {#                                                    <li><a href="#">#</a></li>#}
                {#                        </ul>#}
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-edit fa"></span>Configurações Gerais
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">
                    <li><a href="#">Definições</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Perfis de Relação</a></li>
                    <li><a href="#">Perfis de Utilizadores</a></li>
                    <li><a href="#">Utilizadores</a></li>
                    <li><a href="#">Épocas</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Parametrizações Financeiras
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">
                    <li><a href="#">Planos de Pagamento</a></li>
                    <li><a href="#">Movimentos</a></li>
                    <li><a href="#">Formas de Pagamentos</a></li>
                    <li><a href="#">Impostos</a></li>
                    <li><a href="#">Câmbios</a></li>
                    <li><a href="#">Grupo de Cobrança</a></li>
                    <li><a href="#">Cobradores</a></li>
                    <li><a href="#">Locais de Venda</a></li>
                    <li><a href="#">Pontos de Venda</a></li>
                    <li><a href="#">Bancos</a></li>
                    <li><a href="#">Motivos de Devolução</a></li>
                    <li><a href="#">Subscrições</a></li>
                    <li><a href="#">Valores</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Parametrizações Sócios
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#">Situação</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Nacionalidades</a></li>
                    <li><a href="#">Naturalidades</a></li>
                    <li><a href="#">Hábilitações Literárias</a></li>
                    <li><a href="#">Profissões</a></li>
                    <li><a href="#">Situação Profissional</a></li>
                    <li><a href="#">Estado Civil</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Recintos
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#">Tipo de Cadeira</a></li>
                    <li><a href="#">Tipos de Título</a></li>
                    <li><a href="#">Recintos</a></li>
                    <li><a href="#">Áreas</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Movimento Associativo
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">
                    <li><a href="{% url 'subscriptions:quickregister' %}">Inscrição Rápida</a></li>
                    <li><a href="{% url 'subscriptions:new' %}">Inscrição de Sócio</a></li>
                    <li><a href="{% url 'memberprofiles:list' %}">Sócios</a></li>
                    <li><a href="#">Alteração de Categoria</a></li>
                    <li><a href="#">Alteração de Situação</a></li>
                    <li><a href="#">Alteração Cobrador</a></li>
                    <li><a href="#">2ª Via de Cartão</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Consulta Movimento</a></li>
                    <li><a href="#">Sócios Antigos</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Cobranças Externas
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#">Preparação ficheiros</a></li>
                    <li><a href="#">Envio</a></li>
                    <li><a href="#">Receção Ficheiros</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Recebimentos
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#">Quotas</a></li>
                    <li><a href="#">Subscrições</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Bilhetes de Época
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#">Venda</a></li>
                    <li><a href="#">Renovação</a></li>
                    <li><a href="#">Troca</a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>Mensagens
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            <li class="ripple">
                <a class="tree-toggle nav-header">
                    <span class="fa-battery-half fa"></span>POS Venda
                    <span class="fa-angle-right fa right-arrow text-right"></span>
                </a>

                <ul class="nav nav-list tree">

                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </li>
            {#                {% endif %}#}
        </ul>
    </div>
</div>

