{% load static %}


<style>
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
        min-width : 200px;
    }
</style>

<div class="container-fluid mimin-wrapper">
    <!-- Navebar top -->

    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="dropdown user-name">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Parametrização<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {#                            <li><a href="#">Configurações Gerais</a></li>#}
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Configurações Gerais</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Definições</a></li>
                                    <li><a href="#">Clientes</a></li>
                                    <li><a href="#">Perfis de Relação</a></li>
                                    <li><a href="#">Perfis de Utilizadores</a></li>
                                    <li><a href="#">Utilizadores</a></li>
                                    <li><a href="#">Épocas</a></li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Parametrização Financeira</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Planos de Pagamento</a></li>
                                    <li><a href="#">Movimentos</a></li>
                                    <li><a href="#">Formas de Pagamentos</a></li>
                                    <li><a href="#">Impostos</a></li>
                                    <li><a href="#">Câmbios</a></li>
                                    <li><a href="#">Grupo de Cobrança</a></li>
                                    <li><a href="#">Cobradores</a></li>
                                    <li><a href="#">Locais de Venda</a></li>
                                    <li><a href="#">Pontos de Venda</a></li>
                                    <li><a href="#">Bancos</a></li>
                                    <li><a href="#">Motivos de Devolução</a></li>
                                    <li><a href="#">Subscrições</a></li>
                                    <li><a href="#">Valores</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Parametrização Financeira</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Parametrizações Sócios</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Situação</a></li>
                                    <li><a href="#">Categorias</a></li>
                                    <li><a href="#">Nacionalidades</a></li>
                                    <li><a href="#">Naturalidades</a></li>
                                    <li><a href="#">Hábilitações Literárias</a></li>
                                    <li><a href="#">Profissões</a></li>
                                    <li><a href="#">Situação Profissional</a></li>
                                    <li><a href="#">Estado Civil</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Parametrizações Sócios</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Recintos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tipo de Cadeira</a></li>
                                    <li><a href="#">Tipos de Título</a></li>
                                    <li><a href="#">Recintos</a></li>
                                    <li><a href="#">Áreas</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Recintos</a></li>#}

                        </ul>
                    </li>

                    <li class="dropdown user-name">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Movimento Associativo<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Movimento</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Inscrição Rápida</a></li>
                                    <li><a href="#">Inscrição de Sócio</a></li>
                                    <li><a href="{% url 'memberprofiles:list' %}">Sócios</a></li>
                                    <li><a href="#">Alteração de Categoria</a></li>
                                    <li><a href="#">Alteração de Situação</a></li>
                                    <li><a href="#">Alteração Cobrador</a></li>
                                    <li><a href="#">2ª Via de Cartão</a></li>
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Consulta Movimento</a></li>
                                    <li><a href="#">Sócios Antigos</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Movimento</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Recebimento</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Quotas</a></li>
                                    <li><a href="#">Subscrições</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Recebimento</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Lugar Anual</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tipo de Cadeira</a></li>
                                    <li><a href="#">Tipos de Título</a></li>
                                    <li><a href="#">Recintos</a></li>
                                    <li><a href="#">Áreas</a></li>
                                </ul>
                            </li>
                            {#                            <li><a href="#">Lugar Anual</a></li>#}
                        </ul>
                    </li>

                    <li class="dropdown user-name">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Mensagens<span class="caret"></span></a>
{#                        <ul class="dropdown-menu">#}
{#                        </ul>#}
                    </li>
                    <li class="dropdown user-name">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">POS Venda<span class="caret"></span></a>
{#                        <ul class="dropdown-menu">#}
{#                        </ul>#}
                    </li>
                    {#                    <li class="user-name">#}
                    {#                        {% if user.is_authenticated %}#}
                    {#                            <span>{{ request.user.username.title }}</span>#}
                    {#                        {% else %}#}
                    {#                            Utilizador#}
                    {#                        {% endif %}#}
                    {#                    </li>#}
                    <a href="/" class="navbar-brand">
                        <b class="fa-home fa"> </b>
                    </a>
                    {#                    <li class="dropdown avatar-dropdown">#}
                    {#                        <img src="{% static 'img/avatar.jpg' %}" class="img-circle avatar" alt="user name"#}
                    {#                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>#}
                    {#                        {% if user.is_authenticated %}#}
                    {#                        <ul class="dropdown-menu user-dropdown">#}
                    {#                            <li><a class="edit_perfil" href="/config/settings/perfil/view/{{ request.user.pk }}"><span#}
                    {#                                    class="fa fa-user"></span>Perfil</a></li>#}
                    {#                            <li role="separator" class="divider"></li>#}
                    {#                            <li class="more">#}
                    {#                                <ul>#}
                    {#                                    <li><a href=""><span class="fa fa-cogs"></span></a></li>#}
                    {#                                    <li><a href=""><span class="fa fa-lock"></span></a></li>#}
                    {#                                    <li><a href="#"><span#}
                    {#                                            class="fa fa-power-off "></span></a></li>#}
                    {#                                </ul>#}
                    {#                            </li>#}
                    {#                        {% endif %}#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- end: Navebar top -->

