{% extends "base.html" %}
{% load static %}
{% load i18n %}
{#{% block nav %}#}
{#    <div class="header-frame row">#}
{#        {% include 'nav.html' only %}#}
{#    </div>#}
{#{% endblock nav %}#}

{% block content %}
    <!-- start: Content -->
    <div id="content" class="container-fluid">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">Sócio</h3>
                    <p class="animated fadeInDown">
                        <a href="#">Movimento Associativo</a> <span class="fa-angle-right fa"></span>
                        Sócio
                    </p>
                </div>
            </div>
        </div>
        <div class="container form_id">
            <div class="col-md-12 top-10">
                <div class="panel">
                    <form method="post" action="{% url 'subscriptions:quickregister' %}" class="form-horizontal"
                          id="form"
                          style='visibility:visible;'>
                        {% csrf_token %}

                        <div class="col-md-12 tabs-area">

                            <div class="form-group">
                                <div class="col-sm-12">
                                    {% if isDefault != 1 %}
                                        {% if saveNew == 1 %}
                                            <input type="button" id="saveAndNew" class="btn btn-primary"
                                                   name="SaveAndNew"
                                                   value="Guardar & Novo" style="float:left;margin-right:7px;"/>
                                        {% endif %}
                                        {% if bEdit %}
                                            <input type="button" id="bEdit" class="btn btn-primary" name="Save"
                                                   value="Editar"
                                                   style="float:left;"/>
                                        {% else %}
                                            <input type="button" id="save" class="btn btn-primary" name="Save"
                                                   value="Guardar"
                                                   style="float:left;"/>
                                        {% endif %}

                                        <div class="cancel"><span class="text_small"></span>
                                            <input type="button" id="b_cancelar" class="btn btn-default"
                                                   name="Cancelar"
                                                   value="Limpar"/>
                                        </div>
                                    {% else %}
                                        <div class="cancel">
                                            <input type="button" id="b_cancelar" class="btn_cancelar"
                                                   name="Cancelar"
                                                   value="Voltar"/>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="panel form-element-padding">
                                    <div class="panel-heading">
                                        <h4>Inscrição Rápida</h4>
                                    </div>
                                    <div class="panel-body" style="padding-bottom:30px;">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-row label-block input-text">
                                                                <label for="{{ form.member_number.id_for_label }}">{{ form.member_number.label }}</label>
                                                                {{ form.member_number.errors }}
                                                                {{ form.member_number }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="form-row label-block input-text">
                                                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                                                {% if form.name.errors %}
                                                                    <div style="color:red">
                                                                        <strong>{{ form.name.errors }}</strong>
                                                                    </div>
                                                                {% endif %}
                                                                {{ form.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.document_type.id_for_label }}">{{ form.document_type.label }}</label>
                                                        {{ form.document_type.errors }}
                                                        {{ form.document_type }}
                                                    </div>
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.doc_number.id_for_label }}">{{ form.doc_number.label }}</label>
                                                        {% if form.doc_number.errors %}
                                                            <div style="color:red">
                                                                <strong>{{ form.doc_number.errors }}</strong>
                                                            </div>
                                                        {% endif %}
                                                        {{ form.doc_number }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                          <span style="font-size: -webkit-xxx-large">
                                                                <i class="glyphicon glyphicon-camera"
                                                                   style="width:100%; font-size:-webkit-xxx-large"></i>
                                                            </span>
                                                    <span style="font-size: -webkit-xxx-large">
                                                                <i class="glyphicon glyphicon-folder-open"
                                                                   style="/*width:100%;*/ font-size:-webkit-xxx-large"></i>
                                                            </span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <img src="https://placehold.it/100x100?text=IMAGE"
                                                         class="img-responsive" style="width:80%" alt="Image">
                                                </div>
                                                {#                                                        <div class="col-sm-12">#}
                                                <div class="col-sm-4">
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
                                                        {{ form.sex.errors }}
                                                        {{ form.sex }}
                                                    </div>
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.birthdate.id_for_label }}">{{ form.birthdate.label }}</label>
                                                        {{ form.birthdate.errors }}
                                                        {{ form.birthdate }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                                                        {{ form.category.errors }}
                                                        {{ form.category }}
                                                    </div>
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                                        {{ form.email.errors }}
                                                        {{ form.email }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.telephone_1.id_for_label }}">{{ form.telephone_1.label }}</label>
                                                        {{ form.telephone_1.errors }}
                                                        {{ form.telephone_1 }}
                                                    </div>
                                                    <div class="form-row label-block input-text">
                                                        <label for="{{ form.telephone_2.id_for_label }}">{{ form.telephone_2.label }}</label>
                                                        {{ form.telephone_2.errors }}
                                                        {{ form.telephone_2 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $('#save').click(function () {
                var nameButton = $(this).attr("name");
                save_ajax(nameButton);
            });

            $('#saveAndNew').click(function () {
                var nameButton = $(this).attr("name");
                location.reload();
                save_ajax(nameButton);
            });

            $('#b_cancelar').click(function () {
                location.reload();
                {#            var nameButton = $(this).attr("name");#}
                {#            save_ajax(nameButton);#}
            });

            function save_ajax(nameButton) {
                var csrftoken = getCookie('csrftoken');
                var form = $("#form");
                url = form.attr('action');
                var data_form = form.serialize() + '&' + nameButton + "=" + 1 + ",";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data_form,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        $(".form_id").html(data);
                    }
                });
            }
        });

    </script>
{% endblock javascript %}