{% load static %}

<!-- start:Left Menu -->
<div id="left-menu">
    <div class="sub-left-menu scroll" tabindex="5000" style="overflow: hidden; outline: none;">
        <ul class="nav nav-list">
            <li>
                <div><img style="margin-top: -2%;" class="logo-img" href="{% static 'img/porto.png' %}" height="100px" width="100px"></div>
            </li>
{#            <li class="time">#}
                {#                    <h1 class="animated fadeInLeft">21:00</h1>#}
                {#                    <p class="animated fadeInDown">Sat,October 1st 2029</p>#}
{#            </li>#}
            {#                {% if not user.is_authenticated %}#}
            {#                    <li class="active ripple">#}
            {#                        <a href="#" class="nav-header"><span class="fa-cogs fa"></span>#}
            {#                            Login sistema#}
            {#                            <span class="fa-angle-right fa right-arrow text-right"></span>#}
            {#                        </a>#}
            {#                    </li>#}
            {#                {% else %}#}
            {#                    <li class="active ripple">#}
            {#                        <a href="#" class="nav-header"><span#}
            {#                                class="fa-dashboard fa"></span>#}
            {#                            Dashboard#}
            {#                            <span class="fa-angle-right fa right-arrow text-right"></span>#}
            {#                        </a>#}
            {#                    </li>#}
            {#                {% endif %}#}
            {#                {% if user.is_authenticated %}#}
            {#                    <li class="ripple">#}
            {#                        <a class="tree-toggle nav-header">#}
            {#                            <span class="fa-battery-half fa"></span>Movimento Associativo#}
            {#                            <ul class="nav nav-list tree">#}
{#            <li><a href="{% url 'subscription:quickregister' %}">Inscrição Rápida</a></li>#}

            <li role="presentation" class="active">
                <a href="#tabs-demo7-area1" id="tabs-demo6-1" role="tab" data-toggle="tab"
                   aria-expanded="false">Dados Pessoais</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area2" id="tabs-demo6-2" role="tab" data-toggle="tab"
                   aria-expanded="false">Morada</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area3" id="tabs-demo6-3" role="tab" data-toggle="tab" aria-expanded="false">Dados
                    Financeitos</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area4" id="tabs-demo6-4" role="tab" data-toggle="tab" aria-expanded="true">Conta-corrente</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area5" role="tab" id="tabs-demo6-5" data-toggle="tab" aria-expanded="true">Subscrições</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area6" role="tab" id="tabs-demo6-6" data-toggle="tab" aria-expanded="true">Informação
                    de Cartão</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area7" role="tab" id="tabs-demo6-7" data-toggle="tab" aria-expanded="true">Família</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area8" role="tab" id="tabs-demo6-8" data-toggle="tab"
                   aria-expanded="true">Notas</a>
            </li>
            <li role="presentation" class="">
                <a href="#tabs-demo7-area9" role="tab" id="tabs-demo6-9" data-toggle="tab"
                   aria-expanded="true">Documentos</a>
            </li>
            {#                            <li><a href="{% url 'memberprofiles:subscription:new' %}">Dados Pessoais</a></li>#}
            {#                            <li><a href="#">Morada</a></li>#}
            {#                            <li><a href="#">Dados Financeiros</a></li>#}
            {#                            <li><a href="#">Conta-Corrente</a></li>#}
            {#                            <li><a href="#">Subscrições</a></li>#}
            {#                            <li><a href="#">Informação de Cartão</a></li>#}
            {#                            <li><a href="#">Documentos</a></li>#}
            {#                            <li><a href="#">Notas</a></li>#}
            {#                        </ul>#}
            {#                            <span class="fa-angle-right fa right-arrow text-right"></span>#}
            {#                        </a>#}

            {#                        <ul class="nav nav-list tree">#}
            {##}
            {#                            <li><a href="#">Inscrição de Sócio</a></li>#}
            {#                            <li><a href="{% url 'memberprofiles:list' %}">Sócios</a></li>#}
            {#                            <li><a href="#">Alteração de Categoria</a></li>#}
            {#                            <li><a href="#">Alteração de Situação</a></li>#}
            {#                            <li><a href="#">Alteração Cobrador</a></li>#}
            {#                            <li><a href="#">2ª Via de Cartão</a></li>#}
            {#                            <li><a href="#">Dashboard</a></li>#}
            {#                            <li><a href="#">Consulta Movimento</a></li>#}
            {#                            <li><a href="#">Sócios Antigos</a></li>#}
            {#                        </ul>#}
            {#                    </li>#}

            {#                {% endif %}#}
        </ul>
    </div>
</div>
</div>
